{% if video %}
<li class="people__item">
    <article class="box box--video">
        <div class="video">
            {% include('/components/youtube-embed/youtube-embed.html.twig') with {
                video: video,
                isLazy: isLazy
            } only %}
        </div>
        <h4 class="box__subtitle">
            {% if app.request.get('_locale') == 'en' %}
                {{ video.title }}
            {% else %}
                {{ video.titleBg }}
            {% endif %}
        </h4>
        {% if video.description and video.descriptionBg %}
            <span class="box__info box__info--regular-size">
                {% if app.request.get('_locale') == 'en' %}
                    {{ video.description }}
                {% else %}
                    {{ video.descriptionBg }}
                {% endif %}
            </span>
        {% endif %}
    </article>
</li>
{% endif %}