{% extends('admin/form-only.html.twig') %}

{% block main %}
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-5 col-xl-4">
            <div class="card w-100">
                <div class="card-body">
                    <h5>😥 Something went wrong!</h5>
                    {% set dashBoardUri = path('admin_dashboard') %}
                    {% set message = "An error has happened. Try going back to the <a href=\"#{dashBoardUri}\">Dashboard</a> or reload the page" %}
                    {% include('admin/includes/alert.html.twig') with {
                        'message': message,
                        'label': 'primary'
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}