%text-colored-link {
  color: $base-text-color;
  text-decoration: none;
}

%header-font {
  font-family: $header-font;
  text-transform: uppercase;
  font-weight: 900;
}

%backdrop {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $backdrop-grey;
  z-index: $z-lowest;
}

%grounge-mask {
  content: '';
  position: absolute;
  z-index: $z-low;
  left: 0;
  right: 0;
  height: 10px;
  background-size: 443px 10px;
  background-repeat: repeat-x;
}

%hero-text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

%hero-box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, .2), 0 0 26px rgba(0, 0, 0, .1);
}

%pillar-box {
  max-width: $page-max-w;
  margin-left: var(--gutter);
  margin-right: var(--gutter);

  @media screen and (min-width: pxToEm($page-max-w) + pxToEm($gutter-desktop) * 2) {
    margin-left: auto;
    margin-right: auto;
  }
}

%pillar-box-article {
  max-width: $article-max-w;
  margin-left: $gutter;
  margin-right: $gutter;

  @media screen and (min-width: pxToEm($article-max-w) + pxToEm($gutter-desktop) * 2) {
    margin-left: auto;
    margin-right: auto;
  }
}

%pillar-box-xxl {
  max-width: $xxl-w;
  margin-left: var(--gutter);
  margin-right: var(--gutter);

  @media screen and (min-width: pxToEm($xxl-w) + pxToEm($gutter-desktop) * 2) {
    margin-left: auto;
    margin-right: auto;
  }
}

%section-v-divider {
  margin-top: 14vh;
}

%v-gutter-inside-section {
  margin-bottom: $section-items-v-gutter;
}

%picture-background {
  background-color: $backdrop-grey;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

%side-gutters {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

%animated-underline {
  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &:after {
      width: 100%;
      opacity: 1;
    }

  }

}

%button-base {
  cursor: pointer;
  font-family: $copy-font;
  -webkit-appearance: none;
  transition: all .3s;
  text-align: center;
  font-size: 1rem;
}

%single-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%smooth-scroll {
  scroll-behavior: smooth;
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

%slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    visibility: hidden;
  }

  // add an dummy element that pushes the last card away
  // from the window's edge when scrolled to the fullest
  // padding doesn't work on a scroll-plane, and with margin
  // we lose the effect of the container sticking
  // to the window's edge
  &:after {
    content: '';
    height: $gutter; // has to have height to display it
    flex: 0 0 1px; // just to give it layout, the last elements margin can now work
  }

}

%visited-link {

  &:visited {
    color: $visited-link;
  }

}