%text-colored-link {
  color: $base-text-color;
  text-decoration: none;
}

%header-font {
  font-family: $header-font;
  text-transform: uppercase;
  font-weight: 900;
}

%backdrop {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $backdrop-grey;
  z-index: $z-lowest;
}

%grounge-mask {
  content: '';
  position: absolute;
  z-index: $z-low;
  left: 0;
  right: 0;
  height: 10px;
  background-size: 443px 10px;
  background-repeat: repeat-x;
}

%hero-text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

%hero-box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, .2), 0 0 26px rgba(0, 0, 0, .1);
}

%pillar-box {
  max-width: $page-max-w;
  margin-left: $gutter;
  margin-right: $gutter;

  @media (min-width: $desktop) {
    margin-left: $gutter-desktop;
    margin-right: $gutter-desktop;
  }

  @media (min-width: $page-max-w + $gutter-desktop * 2) {
    margin-left: auto;
    margin-right: auto;
  }
}

%section-v-divider {
  margin-bottom: 8vh;
}