var/

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
bin/*
!bin/console
!bin/symfony_requirements
vendor/

# Assets and user uploads
/web/bundles/
/public/map-images/
/public/crew-member-images/

# Build data
build/

# Composer PHAR
composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
.web-server-pid

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# WebStorm
.idea/

# Node.js modules
node_modules/

# SASS cache
scss/.sass-cache/

# SublimeText
*.sublime-workspace

# KomodoEdit projectfiles
*.kpf

# VS Code
.vscode
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
# only pakage-lock.json should be used
yarn.lock

# ENV
.env.dev.local
.env

# YT API
google_client_secret.json