@use "assets/scss/config/z-indexes" as z;
@use "assets/scss/config/spacings" as sp;

.pull-over-hero {
  z-index: z.$z-middle;
  margin-top: -40px;
}

.no-hero {
  margin-top: sp.$section-items-v-gutter;
}