{% if message is defined %}
    {% set type = label is defined ? label : 'primary' %}
    <div class="alert alert-{{ label }} {{ classNames is defined ? classNames : '' }}">
        {{  message|raw }}
    </div>
{% endif %}