<!doctype html>
{% apply spaceless %}
<html lang="en">
<head>
    {% include('admin/includes/meta.html.twig') %}
    <title>{% block title %}The Case Bedechka Website Admin{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body class="bg-light">
    {% include('admin/includes/header.html.twig') %}

    {% if(app.request.get('_route') != 'admin_dashboard') %}
        {% include('admin/includes/sidebar.html.twig') %}
    {% endif %}

    <main class="main container-fluid h-100 {{ app.request.get('_route') != 'admin_dashboard' ? 'container--with-sidebar' : '' }}">
        {% block main %}{% endblock %}
    </main>

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</body>
</html>
{% endapply %}