<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}The Case Bedechka Website Admin{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body class="bg-light">
    {% if(is_granted('ROLE_ADMIN')) %}
        {% include('admin/includes/header.html.twig') %}
    {% endif %}

    <main class="main container-fluid h-100">
        {% block main %}{% endblock %}
    </main>

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</body>
</html>