{% extends 'base.html.twig' %}

{% block title %}People{% endblock %}

{% set heroTitle = {'mainTitle': 'List of protagonists', 'subTitle': 'Meet all the people featured in the movie'} %}
{% set heroContent = include('./includes/hero/title-and-subtitle.html.twig', heroTitle) %}

{% block stylesheets %}
    {{ parent() }}
    {% include('./includes/hero/background-style.html.twig') with {'background': 'people'} only %}
{% endblock %}

{% block main %}
    {% include('./includes/hero.html.twig') with {'content': heroContent} only %}

    <ul class="people pull-over-hero">
        <li class="people__item">
            <div class="box box--video">
                <div class="video">
                    {% include('./components/video-embed.html.twig') with {
                        'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                        'thumbnail': 'https://picsum.photos/400/225',
                        'classes': 'video-embed--bottom-right',
                        'alt': 'Zhivka, Ljuba and Mariana'}
                    %}
                </div>
                <h4 class="box__subtitle">
                    Zhivka, Ljuba and Mariana
                </h4>
                <span class="box__info box__info--regular-size">NGO "Save the Bedechka"</span>
            </div>
        </li>
        <li class="people__item">
            <div class="box box--video">
                <div class="video">
                    {% include('./components/video-embed.html.twig') with {
                        'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                        'thumbnail': 'https://picsum.photos/400/225',
                        'classes': 'video-embed--bottom-right',
                        'alt': 'Zhivka, Ljuba and Mariana'}
                    %}
                </div>
                <h4 class="box__subtitle">
                    Zhivka, Ljuba and Mariana
                </h4>
                <span class="box__info box__info--regular-size">NGO "Save the Bedechka"</span>
            </div>
        </li>
        <li class="people__item">
            <div class="box box--video">
                <div class="video">
                    {% include('./components/video-embed.html.twig') with {
                        'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                        'thumbnail': 'https://picsum.photos/400/225',
                        'classes': 'video-embed--bottom-right',
                        'alt': 'Zhivka, Ljuba and Mariana'}
                    %}
                </div>
                <h4 class="box__subtitle">
                    Zhivka, Ljuba and Mariana
                </h4>
                <span class="box__info box__info--regular-size">NGO "Save the Bedechka"</span>
            </div>
        </li>
        <li class="people__item">
            <div class="box box--video">
                <div class="video">
                    {% include('./components/video-embed.html.twig') with {
                        'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                        'thumbnail': 'https://picsum.photos/400/225',
                        'classes': 'video-embed--bottom-right',
                        'alt': 'Zhivka, Ljuba and Mariana'}
                    %}
                </div>
                <h4 class="box__subtitle">
                    Zhivka, Ljuba and Mariana
                </h4>
                <span class="box__info box__info--regular-size">NGO "Save the Bedechka"</span>
            </div>
        </li>
        <li class="people__item">
            <div class="box box--video">
                <div class="video">
                    {% include('./components/video-embed.html.twig') with {
                        'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                        'thumbnail': 'https://picsum.photos/400/225',
                        'classes': 'video-embed--bottom-right',
                        'alt': 'Zhivka, Ljuba and Mariana'}
                    %}
                </div>
                <h4 class="box__subtitle">
                    Zhivka, Ljuba and Mariana
                </h4>
                <span class="box__info box__info--regular-size">NGO "Save the Bedechka"</span>
            </div>
        </li>
        <li class="people__item">
            <div class="box box--video">
                <div class="video">
                    {% include('./components/video-embed.html.twig') with {
                        'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                        'thumbnail': 'https://picsum.photos/400/225',
                        'classes': 'video-embed--bottom-right',
                        'alt': 'Zhivka, Ljuba and Mariana'}
                    %}
                </div>
                <h4 class="box__subtitle">
                    Zhivka, Ljuba and Mariana
                </h4>
                <span class="box__info box__info--regular-size">NGO "Save the Bedechka"</span>
            </div>
        </li>
        <li class="people__item">
            <div class="box box--video">
                <div class="video">
                    {% include('./components/video-embed.html.twig') with {
                        'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                        'thumbnail': 'https://picsum.photos/400/225',
                        'classes': 'video-embed--bottom-right',
                        'alt': 'Zhivka, Ljuba and Mariana'}
                    %}
                </div>
                <h4 class="box__subtitle">
                    Zhivka, Ljuba and Mariana
                </h4>
                <span class="box__info box__info--regular-size">NGO "Save the Bedechka"</span>
            </div>
        </li>
        <li class="people__item">
            <div class="box box--video">
                <div class="video">
                    {% include('./components/video-embed.html.twig') with {
                        'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                        'thumbnail': 'https://picsum.photos/400/225',
                        'classes': 'video-embed--bottom-right',
                        'alt': 'Zhivka, Ljuba and Mariana'}
                    %}
                </div>
                <h4 class="box__subtitle">
                    Zhivka, Ljuba and Mariana
                </h4>
                <span class="box__info box__info--regular-size">NGO "Save the Bedechka"</span>
            </div>
        </li>
    </ul>
{% endblock %}