<article class="box box--center-xxl cases-map">
    {% include('./components/sub-header.html.twig') with {'text': 'map.subtitle', 'classes': 'box__header cases-map__header'} only %}
    <p class="box__lead cases-map__lead">
        {{ 'map.intro'|trans }}
    </p>

    <div class="cases-map__navigation">
        <ul class="cases-map__navigation-list">
            <li class="cases-map__navigation-item">
                <button type="button" class="tag tag--active">
                    Park Bedechka
                </button>
            </li>
            <li class="cases-map__navigation-item">
                <button type="button" class="tag">
                    Park "Defenders of Stara Zagora"
                </button>
            </li>
            <li class="cases-map__navigation-item">
                <button type="button" class="tag">
                    Something else
                </button>
            </li>
            <li class="cases-map__navigation-item">
                <button type="button" class="tag">
                    Something else
                </button>
            </li>
            <li class="cases-map__navigation-item">
                <button type="button" class="tag">
                    Something else
                </button>
            </li>
            <li class="cases-map__navigation-item">
                <button type="button" class="tag">
                    Something else
                </button>
            </li>
        </ul>
    </div>

    <div class="cases-map__map"></div>
</article>