<div class="landing-hero-content">
    <p class="landing-hero-content__intro">
        A documentary which analyzes the problem with the destruction of nature and its implications on society and culture
    </p>
    <div class="landing-hero-content__video">
        {% include('./components/video-embed.html.twig') with {
            'url': 'https://www.youtube.com/watch?v=JfcjnnZ9iVM',
            'thumbnail': 'https://picsum.photos/400/225',
            'alt': 'The Case Bedechka Documentary English trailer'}
        %}
    </div>
    <div class="landing-hero-content__button">
        <a href="#" class="button button--cta">Learn More</a>
    </div>
</div>