<div class="landing-hero-content">
    <p class="landing-hero-content__intro">
        {{ 'home.hero.intro'|trans }}
    </p>
    <div class="landing-hero-content__video">
        {% include('./components/youtube-embed.html.twig') with {
            'id': trailer.id,
            'thumbnails': trailer.thumbnails,
            'title': trailer.title,
            'titleBg': trailer.titleBg
        } %}
    </div>
    <div class="landing-hero-content__button">
        <a href="{{ path('about') }}" class="button button--cta">{{ 'load.more'|trans }}</a>
    </div>
</div>