<div class="landing-hero-content">
    <p class="landing-hero-content__intro">
        {{ 'home.hero.intro'|trans({
            '%full_movie_link%': "https://www.youtube.com/watch?v=#{trailer.id}"
        })|raw }}
    </p>
    <div class="landing-hero-content__video">
        {% include('/components/youtube-embed.html.twig') with {'video': trailer, isLazy: false} %}
    </div>
    <div class="landing-hero-content__button">
        <a href="{{ path('about') }}" class="button button--cta">{{ 'load.more'|trans }}</a>
    </div>
</div>