<section class="story">
    {% include('./components/section-header.html.twig') with {'text': 'In the Press', 'classes': 'story__header'} only %}

    <article class="news">
        <ul class="news__list">
            <li class="news__item">

            </li>
        </ul>
    </article>
</section>