{% if news_first_page|length > 0%}
    <section class="story">
        {% include('./components/section-header.html.twig') with {'text': 'story.news.title', 'classes': 'story__header'} only %}

        <article class="news">
            <ul class="news__list" id="js-news-list">
                {% for news_item in news_first_page %}
                    {% include('./home/partials/in-the-press-item.html.twig') with {
                        'link': news_item.link,
                        'title': news_item.title,
                        'source': news_item.source
                    } %}
                {% endfor %}
                {% if news_has_pagination %}
                    <li class="news__item news__item--more" id="js-load-more-container">
                        <button type="button" class="button button--loader" id="js-news-load-more">
                            <span class="button__text">{{ 'generic.load.more'|trans }}</span>
                            <span class="button__spinner spinner">{{ 'generic.loading'|trans }}&#8230;</span>
                        </button>
                    </li>
                {% endif %}
            </ul>
        </article>
    </section>
{% endif %}