<section class="story">
    {% include('./components/section-header.html.twig') with {'text': 'In the Press', 'classes': 'story__header'} only %}

    <article class="news">
        <ul class="news__list">
            <li class="news__item">
                <a href="#" class="box box--news">
                    <div class="box__illustration">
                        <div class="embed-16-9">
                            <picture>
                                <img src="https://picsum.photos/280/158" alt="Щастлива развръзка! Изгубеният голдън ретрийвър Бернард бе намерен">
                            </picture>
                        </div>
                    </div>
                    <h3 class="box__subtitle">
                        Щастлива развръзка! Изгубеният голдън ретрийвър Бернард бе намерен
                    </h3>
                    <small class="box__info">uspelite.bg</small>
                </a>
            </li>
        </ul>
    </article>
</section>