<li class="news__item">
    <a href="{{ link }}" class="box" target="_blank" rel="noreferrer noopener">
        <h3 class="box__subtitle">
            {{ title }}
        </h3>
        <p class="news-source">
            {% if logo %}
            <img src="{{ logo }}" alt="" class="news-source__img" />
            {% endif %}
            <small class="box__info">{{ source }}</small>
        </p>
    </a>
</li>