<section class="story">
    {% include('./components/section-header.html.twig') with {'text': 'The Problem', 'classes': 'story__header'} only %}

    {% include('./home/partials/timeline.html.twig') %}
    {% include('./home/partials/cases-map-box.html.twig') %}

</section>