<section class="story cases-map-offset-desktop">
    {% include('/components/section-header/section-header.html.twig') with {
        'text': 'story.problem.title'|trans,
        'classes': 'story__header'
    } only %}

    {% include('/components/timeline/timeline.html.twig') %}
    {% include('/components/cases-map-box/cases-map-box.html.twig') %}

</section>