<section class="story">
    {% include('./components/section-header.html.twig') with {'text': 'The Vision', 'classes': 'story__header'} only %}

    <article class="box box--center vision">
        <h3 class="sub-header vision__header">
            Strategic Urban Planing for Conflict Resolution
        </h3>
        <div class="copy vision__intro">
            <p>
                <strong>A virtuous circle:</strong>
            </p>
            <p>
                <em>Activists</em> using data-based <em>science</em> to activate
                <em>citizens</em> to pressure the <em>administration</em> for tangible impact against the pressure of the <em>investors</em>.
            </p>
        </div>
        <figure class="vision__graphic">
            {# TODO: Just dummy markup - some more responsive, more flexible stuff here after we have final design #}
            <picture>
                <source srcset="{{ asset('build/the-vision-info-graphic-placeholder-desktop.png') }}" media="(min-width: 1024px)">
                <img src="{{ asset('build/the-vision-info-graphic-placeholder-mobile.png') }}" alt="">
            </picture>
        </figure>
        <h3 class="sub-header vision__header">
            Protection Mechanisms
        </h3>
        <div class="box box--tablet-only vision__case">
            <div class="video">
                {% include('./components/video-embed.html.twig') with {
                    'url': 'https://www.youtube.com/watch?v=PegMHCQWls4',
                    'thumbnail': 'https://picsum.photos/400/225',
                    'alt': 'Sunset over the field / Залез над полето'}
                %}
            </div>
            <h4 class="box__subtitle">
                Social Engagement as a Powerful Tool for the Preseravation of Urban Green Areas
            </h4>
        </div>
        <div class="box box--tablet-only vision__case">
            <div class="video">
                {% include('./components/video-embed.html.twig') with {
                    'url': 'https://www.youtube.com/watch?v=MdmidVPid2',
                    'thumbnail': 'https://picsum.photos/400/225',
                    'alt': 'Life in the Jungle / Живот в джунглата'}
                %}
            </div>
            <h4 class="box__subtitle">
                Humans as Stewards of Nature and not a Disaster to it
            </h4>
        </div>
    </article>
</section>