<section class="story cases-map-offset-desktop">
    {% include('./components/section-header.html.twig') with {'text': 'story.problem.title', 'classes': 'story__header'} only %}

    {% include('./home/partials/timeline.html.twig') %}
    {% include('./home/partials/cases-map-box.html.twig') %}

</section>