<article class="timeline">
    <ol class="timeline__steps">
        <li class="timeline__step">
            <div class="box">
                {% include('./components/sub-header.html.twig') with {'text': 'Pre-Park: Up to the 60s', 'classes': 'timeline__header', 'priority': 2} only %}
                <div class="timeline__illustration"></div>
                <p class="timeline__text">
                    The land belongs to citizens, who have urban gardens for production of vegetables, fruits and flowers.
                </p>
            </div>
        </li>
    </ol>
</article>