// Global styles for the map page
@use "../scss/config/breakpoints" as bp;
@use "../scss/config/sizes" as s;
@use "../scss/config/colors" as c;

.map {
  width: 100%;
  min-height: calc(100vh - #{s.$mobile-header-top-h + s.$mobile-navigation-h});
  overflow: hidden;
  display: flex;
  background-color: c.$base-text-color;

  @media screen and (min-width: bp.$desktop) {
    min-height: calc(100vh - #{s.$desktop-header-h});
  }

}
