<header class="header">
    <a class="logo" href="{{ path('home') }}">
        <span class="logo__typo">
            The Bedechka Case
        </span>
    </a>

    <nav>
        <a href="{{ path('the_crew') }}">The Crew</a>
        <a href="{{ path('people') }}">People</a>
        <a href="{{ path('partners') }}">Partners</a>
    </nav>
</header>