<form action="/" class="newsletter-form form" method="post">
    <div class="form__row">
        <label>
            <span class="form__label">First Name</span>
            <input type="text" name="first_name">
        </label>
        <label>
            <span class="form__label">Last Name</span>
            <input type="text" name="last_name">
        </label>
    </div>
    <div class="form__row form__row--single-line">
        <label>
            <span class="form__label">
                Your Email<strong class="form__asterisk">&nbsp;*</strong>
            </span>
            <input type="email" name="email" required>
        </label>
        <button class="button" type="submit">Sign Up!</button>
    </div>
    <p class="form__legend">
        Fields marked with <strong class="form__asterisk form__asterisk--no-super">&nbsp;*</strong> are mandatory!
    </p>
</form>