<form action="/" class="newsletter-form form" method="post">
    <fieldset class="form__row">
        <label>
            <span class="form__label">First Name</span>
            <input type="text" name="first_name">
        </label>
        <label>
            <span class="form__label">Last Name</span>
            <input type="text" name="last_name">
        </label>
    </fieldset>
    <fieldset class="form__row form__row--single-line">
        <label>
            <span class="form__label">Your Email</span>
            <input type="email" name="email">
        </label>
        <button class="button" type="submit">Sign Up!</button>
    </fieldset>
</form>