.cases-map {
  $map-height-mobile: 80vh;
  $map-height: 60vh;

  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: [first] 4fr [second] 6fr;
    // TODO: Figure out a more flexible layout - If text grows significantly then rows, don't adjust
    grid-template-rows: [title] 10% [intro] 20% [tags] 70%;
    grid-column-gap: $gutter-desktop;
  }

  @media screen and (min-width: $page-max-w) {
    grid-column-gap: $gutter-desktop * 2;
  }

  @supports (grid-template-areas: unset) {
    @media screen and (min-width: $desktop) {
      padding-right: 0 !important;
      height: $map-height;
    }
  }

  &__header.box__header {
    @media screen and (min-width: $desktop) {
      grid-column-start: first;
      grid-row-start: title;
    }

    @supports (grid-template-areas: unset) {
      @media screen and (min-width: $desktop) {
        text-align: left;
        margin-bottom: 0;
      }
    }

  }

  &__lead {
    @media screen and (min-width: $desktop) {
      grid-column-start: first;
      grid-row-start: intro;
      max-width: none !important;
    }
  }

  &__navigation {
    width: calc(100% + #{$gutter});
    height: 30px;
    overflow: hidden;
    margin-bottom: 2vh;

    &:after {
      @include scroll-fader();

      @media screen and (min-width: $tablet) {
        display: none;
      }

    }

    @media screen and (min-width: $tablet) {
      height: auto;
      width: 100%;
      overflow: visible;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
      grid-column-start: first;
      grid-row-start: tags;
    }

  }

  &__navigation-list {
    @extend %smooth-scroll;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: content-box;
    padding-bottom: 17px;

    @media screen and (min-width: $tablet) {
      display: block;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 0;
      box-sizing: border-box;
    }

  }

  &__navigation-item {
    margin-right: 4vw;

    &:last-of-type {
      margin-right: 0;
      padding-right: $gutter;

      // this is to keep tha last item away from the edge
      // when scrolled all the way
      @media screen and (min-width: $tablet) {
        padding-right: 0;
      }
    }

    @media screen and (min-width: $tablet) {
      display: inline-block;
      margin: 0 $gutter-desktop ($gutter-desktop - 5px) 0;
    }

    > * {
      // try to push the second item out of the scroll plane
      // not fool-proof but works on most phone sizes
      min-width: 44vw;

      @media screen and (min-width: $tablet) {
        min-width: 0;
      }
    }

  }

  &__map {
    width: calc(100% + #{$gutter * 2});
    height: $map-height-mobile;
    margin-left: -$gutter;
    margin-bottom: -$grid-v-gutter;
    background: $base-text-color;
    border-radius: $box-radius;
    z-index: 1; // need to normalize this because the embeded Leaflet Map has a high z-index which makes it overlap the main header

    @supports (grid-template-areas: unset) {
      @media screen and (min-width: $desktop) {
        width: 100%;
        height: calc(#{$map-height} + #{$grid-v-gutter * 2});
        margin-left: 0;
        margin-top: -$grid-v-gutter * 2;
        margin-bottom: 0;
      }
    }
  }

  // fix for Open Streetmap attribution DIV and copyright notice not showing in the bottom right corner
  .leaflet-control-container {
    height: 100%;
  }

}

.cases-map-offset-desktop {
  @supports (grid-template-areas: unset) {
    @media screen and (min-width: $desktop) {
      padding-bottom: $grid-v-gutter;
    }
  }
}