.header {
  background-color: $beige;
  box-shadow: $box-shadow-header;
  z-index: $z-top;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &:after {
    content: '';
    position: absolute;
    top: $mobile-header-top-h;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0, 0, 0, .1);
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }

  &--pulled-up {
    transform: translate3d(0, -#{$mobile-header-top-h + $mobile-navigation-h + 2px}, 0);

    @media screen and (min-width: $desktop) {
      transform: none;
    }
  }

  &__logo {
    height: $mobile-header-top-h;
    display: flex;
    align-items: center;
    padding-left: $gutter;

    @media screen and (min-width: $tablet) {
      padding-left: 0;
    }

    @media screen and (min-width: $phablet) and (max-width: $desktop - 1) {
      max-width: $phablet;
      margin: 0 auto;
    }

    @media screen and (min-width: $desktop) {
      max-width: none;
      margin: 0;
    }

  }

  a {

    &:hover,
    &:focus {
      text-decoration: none;
    }

  }

}

body {
  padding-top: #{$mobile-header-top-h + $mobile-navigation-h};

  @media screen and (min-width: $desktop) {
    padding-top: $desktop-header-h;
  }
}