@import "../config/silent-classes";
@import "../config/breakpoints";

.hero {
  @extend %picture-background;
  @extend %side-gutters;
  overflow: hidden;
  height: 261px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media screen and (min-width: $tablet) {
    height: 421px;
    justify-content: flex-end;
  }

  &--tall {
    height: auto;
    min-height: 451px;
    justify-content: center;
    padding-bottom: 20px;

    @media screen and (min-width: $tablet) {
      min-height: 568px;
    }
  }

  &:before {
    @extend %backdrop;
  }

  &:after {
    @extend %grounge-mask;
    bottom: -1px;
    background-image: url(../../images/grounge-mask-hero@2x.png);
  }

  > * {
    z-index: $z-middle;
  }
}