.hero {
  // TODO: Implement parallax effect https://stackoverflow.com/questions/21786272/css-background-size-cover-background-attachment-fixed-clipping-background-im
  background-color: $backdrop-grey;
  overflow: hidden;
  height: 261px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: $tablet) {
    height: 421px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop) {
    padding-left: $gutter-desktop;
    padding-right: $gutter-desktop;
  }

  &--tall {
    height: 451px;

    @media (min-width: $tablet) {
      height: 568px;
    }
  }

  &:before {
    @extend %backdrop;
  }

  &:after {
    @extend %grounge-mask;
    bottom: -1px;
    background-image: url(../../images/grounge-mask-hero@2x.png);
  }

  > * {
    z-index: $z-middle;
  }
}