.join-us {
  $mw: 500px;
  $v-gutter-near: 1.8vh;
  $v-gutter-far: 2.6vh;

  %pillar-box {
    max-width: $mw;
    margin: 0 $gutter $v-gutter-near $gutter;

    @media (min-width: $mw + (2 * $gutter)) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  background: white;
  padding-top: $grid-v-gutter;
  padding-bottom: $grid-v-gutter;

  &:before {
    @extend %grounge-mask;
    background-image: url(../../images/grounge-mask-hero@2x.png);
    top: -6px;
  }

  &:after {
    @extend %grounge-mask;
    bottom: -6px;
    background-image: url(../../images/grounge-mask-footer-white@2x.png);
  }

  &__text {
    @extend %pillar-box;
  }

  > .newsletter-form {
    @extend %pillar-box;

    @media (min-width: $tablet) {
      max-width: 80%;
    }

    @media (min-width: $desktop + $gutter-desktop * 2) {
      max-width: $desktop;
    }

  }

  > .sub-header {
    @extend %pillar-box;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: $v-gutter-near;
  }

  > .section-header {
    margin-bottom: $v-gutter-far;
  }

  .button--fb {
    $mw: 300px;
    display: block;
    max-width: $mw;
    margin: 0 $gutter;

    @media (min-width: $mw + ($gutter * 2)) {
      margin: 0 auto;
    }

  }

}