@use "../config/sizes" as s;
@use "../config/typo" as t;

$mw: 500px;

@mixin pillar-box {
  max-width: $mw;
  margin: 0 s.$gutter t.$v-gutter-near s.$gutter;

  @media screen and (min-width: $mw + (2 * s.$gutter)) {
    margin-left: auto;
    margin-right: auto;
  }
}