.landing-hero-content {
  max-width: 1180px;
  color: $almost-white;
  margin-top: -40px;
  display: block;
  align-items: center;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-column-gap: $gutter-desktop;
  }

  &__intro {
    @extend %hero-text-shadow;
    margin: 0 auto 30px auto;
    line-height: 1.2;
    font-size: 1.1rem;
    max-width: 500px;

    @media (min-width: $tablet) {
      margin: 0;
    }

    @media (min-width: $desktop) {
      font-size: 1.3rem;
    }

  }

  &__video {
    @extend %hero-box-shadow;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;

    @media (min-width: $tablet) {
      margin: 0;
      max-width: none;
    }

    @media (min-width: $desktop) {

    }

  }

  &__button {
    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
    }

    @media (min-width: $desktop) {

    }
  }

}