.landing-hero-content {
  max-width: $page-max-w;
  color: $almost-white;
  display: block;
  align-items: center;
  min-height: 260px;

  @media screen and (min-width: $page-max-w + $gutter-desktop * 2) {
    width: $page-max-w;
  }

  @media screen and  (min-width: $tablet) {
    display: table;
    vertical-align: middle;
  }

  @supports (grid-template-areas: unset) {
    @media screen and (min-width: $tablet) {
      display: grid;
      vertical-align: baseline;
      grid-template-columns: 4fr 6fr;
      grid-template-rows: auto;
      grid-column-gap: $gutter-desktop;
    }
  }

  &__intro {
    @extend %hero-text-shadow;
    margin: 4vh auto 2vh auto;
    font-size: 1.1em;
    max-width: 500px;

    @media screen and (min-width: $tablet) {
      margin: 0;
      display: table-cell;
      width: 40%;
      padding-right: $gutter-desktop;
    }

    @supports (grid-template-areas: unset) {
      @media screen and (min-width: $tablet) {
        grid-column-start: 1;
        grid-row-start: 1;
        align-self: center;
        width: auto;
        padding-right: 0;
      }

      @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
        align-self: start;
      }
    }

    @media screen and (min-width: $desktop) {
      font-size: 1.2em;
    }

  }

  &__video {
    @extend %hero-box-shadow;
    width: 100%;
    max-width: 400px;
    margin: 0 auto $gutter-desktop auto;

    @media screen and (min-width: $tablet) {
      margin: 0;
      width: 60%;
      padding-left: $gutter-desktop;
      display: table-cell;
    }

    @supports (grid-template-areas: unset) {
      @media screen and (min-width: $tablet) {
        margin: 0;
        padding-left: 0;
        width: auto;
        max-width: none;
      }
    }

  }

  &__button {
    text-align: center;

    @media screen and (min-width: $tablet) {
      margin-top: $gutter-desktop;
    }

    @supports (grid-template-areas: unset) {
      @media screen and (min-width: $tablet) {
        grid-column-start: 1;
        grid-row-start: 1;
        align-self: end;
        margin: 0;
        text-align: left;
      }
    }
  }

}