.landing-hero-content {
  max-width: $page-max-w;
  color: $almost-white;
  display: block;
  align-items: center;

  @media (min-width: $page-max-w + $gutter-desktop * 2) {
    width: $page-max-w;
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: auto;
    grid-column-gap: $gutter-desktop;
  }

  &__intro {
    @extend %hero-text-shadow;
    margin: 4vh auto 2vh auto;
    font-size: 1.1em;
    max-width: 500px;

    @media (min-width: $tablet) {
      margin: 0;
      grid-column-start: 1;
      grid-row-start: 1;
      align-self: center;
    }

    @media (min-width: $desktop) {
      font-size: 1.2em;
    }

  }

  &__video {
    @extend %hero-box-shadow;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;

    @media (min-width: $tablet) {
      margin: 0;
      max-width: none;
    }

  }

  &__button {
    text-align: center;

    @media (min-width: $tablet) {
      grid-column-start: 1;
      grid-row-start: 1;
      align-self: end;
      margin-bottom: 4px;
      text-align: left;
    }
  }

}