.navigation {
  height: $mobile-navigation-h;
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $phablet) and (max-width: $desktop - 1) {
    max-width: $phablet;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding-right: $gutter-desktop;
    height: auto;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  &__item {
    @extend %text-colored-link;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 1rem;

    @media (min-width: $desktop) {
      flex: 0 0 auto;
      padding: 0 ($gutter-desktop * 2);
      font-size: 1.2rem;
    }

    > span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:after {
      content: '';
      height: 4px;
      position: absolute;
      left: 50%;
      bottom: -2px;
      transition: all .3s ease-in-out;
      opacity: 0;
      width: 0;
      transform: translate3d(-50%, 0, 0);
    }

    &:focus,
    &:hover {
      outline: 0;

      &:not(.active) {
        &:after {
          opacity: 1;
          width: 100%;
          background-color: $orange;
        }
      }
    }

    &.active {
      &:after {
        opacity: 1;
        width: 100%;
        background-color: $dark-green;
      }
    }

  }
}