@import "../config/silent-classes";
@import "../config/breakpoints";

.navigation {
  @extend %smooth-scroll;
  height: pxToRem($mobile-navigation-h);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  @media screen and (min-width: $phablet) and (max-width: $desktop - 1) {
    max-width: $phablet;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop) {
    padding-right: $gutter-desktop;
    height: auto;
    flex: 1 1 auto;
    justify-content: flex-end;
    overflow: visible;
  }

  &__item {
    @extend %text-colored-link;
    @extend %header-font;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 1.4rem;

    @media screen and (min-width: $desktop) {
      flex: 0 0 auto;
      padding: 0 ($gutter-desktop * 2);
      font-size: 1.8rem;
    }

    > span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:after {
      content: '';
      height: 3px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transition: all .3s ease-in-out;
      opacity: 0;
      width: 0;
      transform: translate3d(-50%, 0, 0);

      @media screen and (min-width: $desktop) {
        bottom: -2px;
        height: 4px;
      }

    }

    &:focus,
    &:hover {
      outline: 0;

      &:not(.active) {
        &:after {
          opacity: 1;
          width: 100%;
          background-color: $orange;
        }
      }
    }

    &.active {
      &:after {
        opacity: 1;
        width: 100%;
        background-color: $dark-green;
      }
    }

  }
}