.newsletter-form {

  .form__row:first-of-type {

    > label:first-of-type {
      margin-bottom: $gutter;

      @media (min-width: $tablet) {
        margin-bottom: 0;
        padding-right: $gutter;
      }

    }

    > label:last-of-type {

      @media (min-width: $tablet) {
        padding-left: $gutter;
      }

    }

  }

  .form__row:last-of-type {

    .button {
      display: block;
      margin: $gutter-desktop auto 0 auto;
    }

    @media (min-width: $tablet) {
      $h: 47px;
      align-items: flex-end;

      > label:last-of-type {

        input {
          height: $h;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

      }

      .button {
        flex: 0 0 auto;
        height: $h - $button-bottom-border-h;
        margin: 0 0 $button-bottom-border-h 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;

    .form__legend {
      flex: 0 0 100%;
    }

    .form__row:first-of-type {
      flex: 3;
      margin-bottom: 0;
      margin-right: $gutter-desktop;
    }

    .form__row:last-of-type {
      flex: 2;
    }

  }

}