.news {
  overflow: hidden;

  @media (min-width: $desktop) {
    overflow: visible;
  }

  &:after {
    z-index: 1;
    @include scroll-fader($beige, 20px);
  }

  &__list {
    @extend %smooth-scroll;
    @extend %slider;
    padding: $box-shadow-size 0 $box-shadow-size $gutter;

    @media (min-width: $desktop) {
      padding: 0 $gutter-desktop;
      display: block;
      overflow-y: visible;
      overflow-x: visible;
      columns: 5 240px;
      column-gap: $gutter-desktop;

      &:after {
        display: none;
      }

    }

  }

  &__item {
    margin-right: $gutter;
    @include item-width(92%, 8px);

    @media (min-width: $tablet) {
      @include item-width(45%, 8px);
    }

    @media (min-width: $desktop) {
      display: inline-block;
      width: 100%;
      margin-bottom: $gutter-desktop;
      max-width: none;
      flex: none;
      break-inside: avoid;
      margin-right: 0;

      .box {
        box-shadow: none;
      }

    }

    > * {
      height: 100%;
    }


  }

}