.page-title {
  $subDesktopSize: pxToRem(26);

  @extend %hero-text-shadow;
  color: $almost-white;
  text-align: center;
  line-height: 1.2;

  &--main,
  &--sub {
    max-width: $narrow-content-w;
  }

  &--main {
    font-family: $header-font;
    font-size: pxToRem(28);
    margin-bottom: pxToRem(14);
    letter-spacing: pxToRem(1);
    padding-top: pxToRem(60);

    @media (min-width: $tablet) {
      font-size: pxToRem(40);
      margin-bottom: pxToRem(100);
      padding-top: 0;

      + .page-title--sub {
        margin-top: pxToRem(86) * -1;
      }

    }

  }

  &--sub {
    font-size: pxToRem(19);

    @media (min-width: $tablet) {
      font-size: $subDesktopSize;
      line-height: 1.3;
      padding-bottom: pxToRem(100);
    }
  }
}