.page-title {
  @extend %hero-text-shadow;
  color: $almost-white;
  text-align: center;
  line-height: 1.2;

  &--main,
  &--sub {
    max-width: $narrow-content-w;
  }

  &--main {
    @extend %header-font;
    font-size: calc(#{pxToRem(26)} + .5vw);
    margin-bottom: pxToRem(14);
    letter-spacing: pxToRem(1);
    padding-top: pxToRem(60);

    @media screen and (min-width: $tablet) {
      font-size: calc(#{pxToRem(39)} + .5vw);
      margin-bottom: pxToRem(100);
      padding-top: 0;

      + .page-title--sub {
        margin-top: pxToRem(86) * -1;
      }

    }

  }

  &--sub {
    font-size: calc(#{pxToRem(17)} + .5vw);
    font-weight: 300;

    @media screen and (min-width: $tablet) {
      font-size: calc(#{pxToRem(26)} + .5vw);
      line-height: 1.3;
      padding-bottom: pxToRem(100);
    }
  }
}