@use "../config/mixins" as m;
@use "../config/sizes" as s;
@use "../config/spacings" as sp;
@use "../config/breakpoints" as bp;

.people {
  @include m.pillar-box(s.$xxl-w);

  @media screen and (min-width: bp.$tablet) {
    display: table;

    > * {
      display: table-cell;
      width: 50%;
      padding-left: var(--gutter);
      padding-right: var(--gutter);
    }

  }

  @media screen and (min-width: bp.$desktop) {
    > * {
      width: 33.3333%;
    }
  }

  @supports (grid-template-areas: unset) {

    @media screen and (min-width: bp.$tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--gutter);

      > * {
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }

    }

    @media screen and (min-width: bp.$desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: s.$xxl-w) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  }

  &__item {
    margin-bottom: sp.$grid-v-gutter;

    > .box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 500px;
      margin: 0 auto;
    }

  }

}