.timeline {
  $box-top-border-h: 3px;
  $big-screen: 1800px;
  $timeline-h: 60px;

  $marker-line-h: 20px;
  $marker-spike-h: 15px;
  $marker-spike-w: 18px;
  $marker-dot-h: 17px;
  $marker-dot-border-w: 3px;
  $marker-h: $marker-spike-h + $marker-dot-h + ($marker-line-h * 2);
  $marker-label-h: 32px;

  $mover-radius: 4px;

  $illustration-w: 90px;
  $illustration-h: 184px;
  $illustration-w-desktop: 101px;
  $illustration-h-desktop: 206px;
  $steps: 6;

  overflow: hidden;
  margin-top: -$box-shadow-size;

  @keyframes illustration-animation {
    to {
      background-position: 0 -#{$illustration-h};
    }
  }

  //@keyframes illustration-animation-desktop {
  //  to {
  //    background-position-y: -#{$illustration-h-desktop};
  //  }
  //}

  &:after {
    @include scroll-fader($beige, 20px);
  }

  // mask the horizontal scrollbar
  &:before {
    content: '';
    position: absolute;
    z-index: $z-middle;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0;
    height: 17px;
    background-color: $beige;
  }

  @media (min-width: $desktop) {
    margin-bottom: calc(#{$section-items-v-gutter} + #{$box-v-gutter}) !important;
  }

  &__steps {
    @extend %smooth-scroll;
    @extend %slider;
    padding: ($box-shadow-size + $marker-h + $marker-label-h) 0 $box-shadow-size $gutter;

    @media (min-width: $desktop) {
      padding-left: $gutter-desktop;
    }

  }

  &__step {
    margin-right: $gutter;
    @include item-width(92%, 8px);

    @media (min-width: $tablet) {
      @include item-width(80%, 8px);
    }

    @media (min-width: $desktop) {
      margin-right: $gutter-desktop;
      @include item-width(45%, 11px);
    }

    @media (min-width: $page-max-w) {
      @include item-width(31%, 11px);
    }

    @media (min-width: $big-screen) {
      @include item-width(24%, 11px);
    }

    &:nth-child(odd) {

      .timeline__box {
        @include box-with-curved-shadow($dark-green, $box-top-border-h);

        &:before {
          background-image: url('../../images/time-line-border-image-green@2x.png');
        }

      }

      .timeline__marker {
        color: $dark-green;
      }

      .timeline__label.tag {
        background-color: $dark-green;
        border-color: $dark-green;
      }

    }

    &:nth-child(even) {

      .timeline__box {
        @include box-with-curved-shadow($orange, $box-top-border-h);

        &:before {
          background-image: url('../../images/time-line-border-image-orange@2x.png');
        }

      }

      .timeline__marker {
        color: $orange;
      }

      .timeline__label.tag {
        background-color: $orange;
        border-color: $orange;
      }

    }

    &:last-of-type {

      .timeline__box {

        &:before {
          right: -#{$gutter};

          @media (min-width: $desktop) {
            right: -#{$gutter-desktop};
          }
        }

      }

    }

    @for $i from 0 through ($steps - 1) {
      &:nth-child(#{$i + 1}) .timeline__illustration {
        background-position: #{$illustration-w * $i * -1} 0;
        //animation: illustration-animation 1s steps(2, end) infinite;

        @media (min-width: $desktop) {
          background-position: #{$illustration-w-desktop * $i * -1} 0;
          //animation: illustration-animation-desktop 1s steps(2, end) infinite;
        }

      }
    }

    //&:nth-child(1) .timeline__illustration {
    //  //background-position: 0 -184px;
    //  animation: illustration-animation 1s steps(2, end) infinite;
    //}

  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: $box-v-gutter - $box-top-border-h;

    @media (min-width: $tablet) {
      align-items: center;
    }

    &:before {
      content: '';
      position: absolute;
      height: 10px;
      left: $gutter + $marker-spike-w;
      right: -#{$gutter * 2};
      top: -#{$box-v-gutter + $marker-spike-h + $marker-dot-border-w};
      background-size: 14px 10px;
      background-repeat: repeat-x;

      @media (min-width: $desktop) {
        left: $gutter-desktop + $marker-spike-w;
        right: -#{$gutter-desktop * 2};
      }

    }

  }

  &__header {
    margin-bottom: 2vh;
    text-align: center;
    @include flex-column;
  }

  &__illustration {
    width: $illustration-w;
    height: $illustration-h;
    flex: 0 0 $illustration-w;
    background-image: url(../../images/timeline-animation-sprite-optimized.png);
    background-size: ($illustration-w * $steps) ($illustration-h * 2);

    @media (min-width: $desktop) {
      width: $illustration-w-desktop;
      height: 206px;
      flex-basis: $illustration-w-desktop;
      background-size: ($illustration-w-desktop * $steps) ($illustration-h-desktop * 2);
    }

  }

  &__text {
    flex: 1;
    padding-left: $gutter;

    @media (min-width: $desktop) {
      padding-left: $gutter-desktop;
    }

  }

  &__marker {
    width: $marker-spike-w;
    height: $marker-h;
    position: absolute;
    left: $gutter;
    top: -#{$marker-h};

    @media (min-width: $desktop) {
      left: $gutter-desktop;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 9px;
      width: 1px;
      height: $marker-line-h;
      background-color: currentColor;
    }

    &:before {
      bottom: $marker-spike-h;
    }

    &:after {
      top: 0;
    }

  }

  &__box-spike {
    position: absolute;
    bottom: $box-top-border-h;
    left: 0;
    fill: currentColor;
  }

  &__marker-dot {
    width: $marker-dot-h;
    height: $marker-dot-h;
    border-radius: 100%;
    border: $marker-dot-border-w solid currentColor;
    position: absolute;
    top: $marker-line-h;
    left: 1px;

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: currentColor;
    }

  }

  &__label.tag {
    position: absolute;
    top: -#{$marker-h + $marker-label-h};
    left: 0;
    height: $marker-label-h;
    font-size: 14px;
    font-weight: 500;
    cursor: default;
  }

  &__mover {
    display: none;

    @media (min-width: $desktop) {
      position: absolute;
      z-index: $z-low;
      width: 50px;
      height: 140px;
      background: $base-text-color;
      top: 50%;
      overflow: hidden;
      text-indent: -200em;
      white-space: nowrap;
      border: 1px solid rgba(0, 0, 0, .15);
      cursor: pointer;
      color: white;
      -webkit-appearance: none;

      &:hover,
      &:focus {
        color: $orange;
      }

      &:before {
        content: '';
        position: absolute;
        border-radius: $mover-radius;
        width: 16px;
        height: 16px;
        left: 12px;
        top: 50%;
        margin-top: -8px;
        border: 4px solid currentColor;
        transition: all .3s ease-in-out;
        transform: rotate(45deg);
      }

    }

  }

  &__mover--back {
    left: 0;
    box-shadow: 6px 0 10px rgba(0, 0, 0, .1), 8px 0 12px rgba(0, 0, 0, .05);
    border-radius: 0 $mover-radius $mover-radius 0;
    border-left-width: 0;

    &:before {
      border-top-width: 0;
      border-right-width: 0;
    }

  }

  &__mover--forward {
    right: 0;
    box-shadow: -6px 0 10px rgba(0, 0, 0, .2), -8px 0 12px rgba(0, 0, 0, .1);
    border-radius: $mover-radius 0 0 $mover-radius;
    border-right-width: 0;

    &:before {
      border-bottom-width: 0;
      border-left-width: 0;
    }

    @media (min-width: $desktop) {
      display: block;
    }

  }

}