.vision {
  @mixin column-desktop($width) {
    @media screen and (min-width: $desktop) {
      flex: 0 0 calc(#{$width} - #{$gutter});
      max-width: calc(#{$width} - #{$gutter});
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__header {
    text-align: center;
    margin-bottom: $v-gutter-near;

    @media screen and (min-width: $tablet) {
      @include flex-column;
    }

  }

  &__intro {
    @include column-desktop(40%);

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

    }

  }

  &__graphic {
    text-align: center;
    margin-bottom: $v-gutter-far;
    // TODO: Just placeholder, adopt to final design
    > img {
      max-width: 100%;
    }

    @media screen and (min-width: $tablet) {
      margin-left: auto;
      margin-right: auto;
    }

    @include column-desktop(60%);

  }

  &__case {
    margin-bottom: 4vh;
    max-width: $yt-thumbnail-standard-w - $gutter * 2;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $yt-thumbnail-standard-w) {
      background: white;
      padding: $grid-v-gutter var(--gutter);
      border-radius: $box-radius;
      @include box-shadow();
    }

    > .video {
      width: calc(100% + #{$gutter * 2});
      margin-left: -$gutter;
      margin-bottom: 2vh;

      @media screen and (min-width: $yt-thumbnail-standard-w) {
        margin-top: -$grid-v-gutter;
        overflow: hidden;
        border-radius: $box-radius;

        &:before{
          content: '';
          position: absolute;
        }

      }

      @media screen and (min-width: $desktop) {
        width: calc(100% + #{$gutter-desktop * 2});
        margin-left: -$gutter-desktop;
      }

    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
      flex: 0 0 calc(50% - #{$gutter / 2});
      max-width: calc(50% - #{$gutter / 2});
      margin-bottom: -#{$grid-v-gutter * 3} !important;
    }

    @media screen and (min-width: $desktop) {
      flex: 0 0 calc(50% - #{$gutter});
      max-width: calc(50% - #{$gutter});
    }

  }

}

.vision-offset-desktop {
  @media screen and (min-width: $tablet) {
    padding-bottom: $grid-v-gutter * 2;
  }
}