@use "../config/breakpoints" as bp;
@use "../config/mixins" as m;
@use "../config/sizes" as s;
@use "../config/typo" as t;
@import "../config/silent-classes";

@mixin column-desktop($width) {
  @media screen and (min-width: bp.$desktop) {
    @include m.flex-column-with-offset($width, s.$gutter);
  }
}

@mixin box-shadow-for-desktop() {
  @extend %box-shadow;
}

.vision {
  @media screen and (min-width: bp.$tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__header {
    text-align: center;
    margin-bottom: t.$v-gutter-near;

    @media screen and (min-width: bp.$tablet) {
      @include m.flex-column();
    }

  }

  &__intro {
    @include column-desktop(40%);

    @media screen and (min-width: bp.$desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

  }

  &__graphic {
    text-align: center;
    margin-bottom: t.$v-gutter-far;
    // TODO: Just placeholder, adopt to final design
    > img {
      max-width: 100%;
    }

    @media screen and (min-width: bp.$tablet) {
      margin-left: auto;
      margin-right: auto;
    }

    @include column-desktop(60%);

  }

  &__case {
    margin-bottom: 4vh;
    max-width: s.$yt-thumbnail-standard-w - s.$gutter * 2;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: s.$yt-thumbnail-standard-w) {
      background: white;
      padding: s.$grid-v-gutter var(--gutter);
      border-radius: s.$box-radius;
      box-shadow: 0 0 $box-shadow-size rgba(0, 0, 0, .1),
                  0 0 6px rgba(0, 0, 0, .08);
    }

    > .video {
      width: calc(100% + #{s.$gutter * 2});
      margin-left: -#{s.$gutter};
      margin-bottom: 2vh;

      @media screen and (min-width: s.$yt-thumbnail-standard-w) {
        margin-top: -#{s.$grid-v-gutter};
        overflow: hidden;
        border-radius: s.$box-radius;

        &:before {
          content: '';
          position: absolute;
        }

      }

      @media screen and (min-width: bp.$desktop) {
        width: calc(100% + #{s.$gutter-desktop * 2});
        margin-left: -#{s.$gutter-desktop};
      }

    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @media screen and (min-width: bp.$tablet) {
      @include m.flex-column-with-offset(50%, #{s.$gutter / 2});
      margin-bottom: -#{s.$grid-v-gutter * 3} !important;
    }

    @media screen and (min-width: bp.$desktop) {
      @include m.flex-column-with-offset(50%, s.$gutter);
    }

  }

}

.vision-offset-desktop {
  @media screen and (min-width: bp.$tablet) {
    padding-bottom: s.$grid-v-gutter * 2;
  }
}