@import "templates/scss/config/functions";

$desktop-size: 1024;

$desktop: px-to-em($desktop-size);
$phablet: px-to-em(600);
$tablet: px-to-em(768);
$smallest: px-to-em(320);
$smallest-height: px-to-em(480);