{% if labelText is defined %}
    <div class="timeline__label">
        <span class="tag tag--not-interactive tag--timeline">
            <strong>
                {{ labelText|trans }}
            </strong>
        </span>
    </div>
    <span class="timeline__marker">
        <span class="timeline__marker-dot"></span>
        {% include('/components/timeline/partials/spike.svg.twig') %}
    </span>
{% endif %}