@import "../config/sizes";
@import "../config/breakpoints";
@import "../config/silent-classes";
@import "../config/mixins";

.box {
  background: white;
  padding: $grid-v-gutter var(--gutter);
  border-radius: $box-radius;
  @include box-shadow();

  @media print {
    page-break-inside: avoid;
    break-inside: avoid;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: none;
  }

  &--tablet-big-gutter {
    @media screen and (min-width: $tablet) {
      padding-left: $gutter-desktop * 2;
      padding-right: $gutter-desktop * 2;
    }
  }

  &--center {
    @extend %pillar-box;
  }

  &--center-narrow {
    @extend %pillar-box-article;
  }

  &--center-xxl {
    @extend %pillar-box-xxl;
  }

  &__header {
    margin-bottom: 3vh;
    text-align: center;
  }

  &__lead {
    $mw: 600px;

    margin-bottom: 2.5vh;
    max-width: $mw;

    @media screen and (min-width: $mw + 2 * $gutter-desktop) {
      margin-right: auto;
      margin-left: auto;
    }

  }

  &__subtitle {
    font-weight: 500;
    font-size: calc(1.1rem + .2vw);
  }

  &__info {
    display: block;
    margin-top: 15px;
    font-size: .8rem;
    color: $secondary-text-color;
  }

  &__info--regular-size {
    font-size: 1rem;
  }

  &--video {

    > .video {
      width: calc(100% + #{$gutter * 2});
      margin: -$grid-v-gutter 0 2vh $gutter * -1;
      overflow: hidden;
      border-radius: $box-radius;
      background: $image-placeholder-color;

      &:before{
        content: '';
        position: absolute;
      }

      @media screen and (min-width: $desktop) {
        width: calc(100% + #{$gutter-desktop * 2});
        margin-left: -$gutter-desktop;
      }

    }

  }

}

a.box {

  &:hover,
  &:focus {
    text-decoration: none;

    .box__subtitle {
      text-decoration: underline;
    }

  }

}