.box {
  background: white;
  padding: $grid-v-gutter $gutter;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .08);

  @media (min-width: $desktop) {
    padding-left: $gutter-desktop;
    padding-right: $gutter-desktop;
  }

  &--center {
    @extend %pillar-box;
  }

  &--pull-up {
    z-index: $z-middle;
    margin-top: -40px;
  }

  &__header {
    margin-bottom: 3vh;
    text-align: center;
  }

  &__lead {
    $mw: 600px;

    margin-bottom: 2.5vh;
    max-width: $mw;

    @media (min-width: $mw + 2 * $gutter-desktop) {
      margin-right: auto;
      margin-left: auto;
    }

  }

}