.button {
  $side-padding: 30px;

  @extend %button-base;
  @extend %single-line-ellipsis;
  background: $green;
  border: 0;
  border-radius: $form-border-radius;
  display: inline-block;
  color: $almost-white;
  text-decoration: none;
  padding: 1em $side-padding;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  @include curved-bottom-border($dark-green, $button-bottom-border-h);

  &:hover,
  &:focus {
    &:not([disabled]) {
      outline: 0;
      background: $dark-green;
      text-decoration: none;
      @include curved-bottom-border($green, $button-bottom-border-h);
    }
  }

  &--cta {
    font-size: $cta-font-size;
    padding-right: 40px;
    padding-left: 40px;
  }

  &--fb {
    $icon-w: 30px;
    $icon-h: 29px;
    padding-right: $side-padding + $icon-w + $side-padding / 2;
    background-color: $facebook-blue;
    @include curved-bottom-border(darken($facebook-blue, 10%), $button-bottom-border-h);

    &:hover,
    &:focus {
      &:not([disabled]) {
        background-color: darken($facebook-blue, 10%);
        @include curved-bottom-border($facebook-blue, $button-bottom-border-h);
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: $icon-w;
      height: $icon-h;
      background: url(../../images/icons/fb-like@2x.png) no-repeat 0 0;
      background-size: $icon-w $icon-h;
      top: 50%;
      margin-top: -($icon-h / 2);
      right: $side-padding;
    }

  }

  &[disabled] {
    opacity: .75;
    cursor: not-allowed;
  }

  &--loader {

    .button__spinner {
      display: none;
    }

    &[disabled] {

      .button__spinner {
        display: block;
      }

      .button__text {
        visibility: hidden;
      }

    }

  }

}