.button {
  background: $green;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 0 $dark-green;
  display: inline-block;
  color: $almost-white;
  text-decoration: none;
  padding: 12px 30px;
  -webkit-appearance: none;
  transition: all .3s;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: 0 4px 0 $green;
    background: $dark-green;
    text-decoration: none;
  }

  &--cta {
    font-size: $cta-font-size;
    padding-top: 16px;
    padding-bottom: 16px;

    @media (min-width: $desktop) {
      font-size: $cta-font-size-desktop;
    }

  }

}