.hero {
  // TODO: Implement parallax effect https://stackoverflow.com/questions/21786272/css-background-size-cover-background-attachment-fixed-clipping-background-im
  background-color: $backdrop-grey;
  overflow: hidden;
  height: 261px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (min-width: $tablet + 1) {
    height: 421px;
  }

  &--tall {
    height: 451px;

    @media (min-width: $tablet + 1) {
      height: 568px;
    }
  }

  &:before {
    @extend %backdrop;
  }

  &:after {
    @extend %grounge-mask;
    bottom: -1px;
    background-image: url(../../images/grounge-mask-hero@2x.png);
  }
}