@import "../config/colors";
@import "../config/breakpoints";
@import "../config/sizes";
@import "../config/functions";

.language-link {
  $flag-size: 16px;

  position: absolute;
  right: $gutter;
  top: 22px;
  color: $base-text-color;
  display: flex;
  align-items: center;

  @media screen and (min-width: $desktop) {
    position: relative;
    margin-right: $gutter-desktop;
    top: auto;
    right: auto;
  }

  &__label {
    font-size: pxToRem(13);
    margin-right: pxToRem(5);
  }

  &__flag {
    display: block;
    width: $flag-size;
    height: $flag-size;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .2);

    > svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }
}