.section-header {
  @extend %pillar-box;
  @extend %header-font;
  text-align: center;
  font-size: calc(#{$header-font-size} + .5vw);
  padding-bottom: pxToRem(10);

  @media screen and (min-width: $tablet) {
    font-size: calc(#{$header-font-size-desktop} + .5vw);
  }

  @media print {
    page-break-after: avoid;
    break-after: avoid;
  }

  &:after {
    $w: 84px;
    $h: 3px;

    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -($w / 2);
    width: $w;
    height: $h;
    background: url('../../images/section-header-hr@2x.png') no-repeat 0 0;
    background-size: $w $h;
  }

}