.sub-header {
  font-family: $header-font;
  font-size: calc(#{$subheader-size} + .5vw);
  letter-spacing: pxToRem(1);
  line-height: 1.2;

  @media screen and (min-width: $tablet) {
    font-size: calc(#{$subheader-size-desktop} + .2vw);
  }
}