.video-embed {
  $play-button-size: 91px;
  $play-button-offset: ($play-button-size / 2) * -1;

  &:after {
    content: '';
    position: absolute;
    background: transparent url('../../images/play-button.png') no-repeat 0 0;
    background-size: $play-button-size;
    width: $play-button-size;
    height: $play-button-size;
    top: 50%;
    left: 50%;
    margin: $play-button-offset 0 0 $play-button-offset;
    z-index: $z-low;
  }

}