@import "../config/sizes";
@import "../config/colors";
@import "../config/z-indexes";
@import "../config/breakpoints";
@import "../config/functions";

.video-embed {
  $play-button-size: 91px;
  $play-button-offset: ($play-button-size / 2) * -1;

  &,
  &:before {
    background-size: cover;
    background-position: center;
    background-color: $base-text-color;
    background-repeat: no-repeat;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: $z-lowest;
    opacity: 1;
    transition: all .3s ease-in-out;
    background-blend-mode: soft-light;
  }


  &:hover,
  &:focus {

    &:before {
      opacity: 0;
    }

  }

  &:after {
    content: '';
    position: absolute;
    background: transparent no-repeat 0 0;
    background-size: $play-button-size;
    width: $play-button-size;
    height: $play-button-size;
    top: 50%;
    left: 50%;
    margin: $play-button-offset 0 0 $play-button-offset;
    z-index: $z-low;
  }

  &.lazy-loading-loaded {

    &:after {
      background-image: url('../../images/play-button.png');
    }

  }

  &--bottom-right {

    &:after {
      top: auto;
      left: auto;
      margin: auto;
      right: pxToRem(10);
      bottom: pxToRem(10);

      @media screen and (min-width: $desktop) {
        right: pxToRem(20);
        bottom: pxToRem(20);
      }

    }

  }

}