<article class="box box--center-xxl cases-map" id="js-cases-map">
    {% include('/components/sub-header/sub-header.html.twig') with {
        'text': 'map.subtitle'|trans,
        'classes': 'box__header cases-map__header'
    } only %}
    <p class="box__lead cases-map__lead">
        {{ 'map.intro'|trans }}
    </p>

    <div class="cases-map__navigation">
        <ul class="cases-map__navigation-list js-cases-map-location-list">
        </ul>
    </div>

    <div class="cases-map__map" id="js-cases-map-container"></div>
</article>