{% extends 'base.html.twig' %}

{% block title %}The Crew{% endblock %}

{% set heroTitle = {'mainTitle': 'Meet the crew', 'subTitle': 'The people who helped the project become a reality'} %}
{% set heroContent = include('./includes/hero/title-and-subtitle.html.twig', heroTitle) %}

{% block stylesheets %}
    {{ parent() }}
    {% include('./includes/hero/background-style.html.twig') with {'background': 'crew'} only %}
{% endblock %}

{% block main %}
    {% include('./includes/hero.html.twig') with {'content': heroContent} only %}

    <ul class="crew pull-over-hero">
        <li class="crew__item">
            <article class="box box--person">
                <img src="https://i.pravatar.cc/120" alt="a photo of Dimana Shishkova">
                <div class="box__person-info">
                    <h2 class="box__person-header">Dimana Shishkova</h2>
                    <span class="person__title">writer, camera, editing</span>
                </div>
            </article>
        </li>
    </ul>
{% endblock %}