<section class="story" id="js-news-section-container">
    {% include('/components/section-header/section-header.html.twig') with {
        'text': 'story.news.title'|trans,
        'classes': 'story__header'
    } only %}

    {% include('components/news/news-list.html.twig') %}
</section>
