$base-text-color: #515154;
$almost-white: #fefefe;
$green: #22943d;
$dark-green: #186f2d;
$orange: #dd8f14;
$beige: #efe9dc;
$backdrop-grey: rgba(58, 58, 58, .8);
$purple: #575ae3;
$facebook-blue: #3C5A99;