$mobile-header-top-h: 60px;
$mobile-navigation-h: 36px;
$desktop-header-h: 60px;

$gutter: 10px;
$gutter-desktop: $gutter * 2;
$grid-v-gutter: 30px;
$section-v-gutter: 60px;
$section-v-gutter-desktop: 100px;
$section-header-v-gutter: 30px;
$section-header-v-gutter-desktop: 40px;
$subsection-v-gutter: 50px;
$subsection-v-gutter-desktop: 60px;
$box-v-gutter: 30px;
$box-h-gutter: $gutter;
$box-h-gutter-desktop: $gutter-desktop;
$section-items-v-gutter: 7vh;

$button-radius: 4px;
$box-radius: 10px;
$page-max-w: 1326px;
$article-max-w: 800px;
$narrow-content-w: 1006px;
$xxl-w: 1600px;