$header-font: 'Playfair Display', Georgia, Times, serif;
$copy-font: 'Roboto', Segoe UI, sans-serif;

$base-font-size: 1em;
$cta-font-size: 1.125rem;
$header-font-size: 1.45em;
$header-font-size-desktop: 1.7em;
$subheader-size: 1.2em;
$subheader-size-desktop: 1.4em;

$v-gutter-near: 3vh;
$v-gutter-far: 6vh;