@use "templates/scss/config/spacings" as sp;
@use "templates/scss/config/decorations" as d;
@import "templates/scss/modules/box/box-grid";

.screening {

  &--inactive {
    opacity: .7;
  }

  &__title {
    margin-bottom: .5em;
  }

  &__icon-text {
    display: flex;
    width: 100%;
    margin-bottom: .6em;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__icon {
    $size: 24px;

    flex: 0 0 $size;
    width: $size;
    height: $size;
    margin-right: 10px;
  }

  a {
    .screening__icon-text-label {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      .screening__icon-text-label {
        text-decoration: none;
      }
    }

  }

}