<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
    <div class="order-2 order-md-1">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap d-flex align-items-center">
                <a class="btn btn-sm btn-outline-light"
                   href="{{ logout_path() }}">{{ 'Sign out'|trans }}</a>
            </li>
        </ul>
    </div>
</nav>