<!doctype html>
{% spaceless %}
<html lang="{{ app.request.get('_locale') }}" dir="ltr">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include './includes/canonical.html.twig' %}
        <title>{% block title %}{{ 'site.name'|trans }}{% endblock %}</title>

{#        TODO: Add dynamic meta description and open graph meta tags#}

        {% block stylesheets %}
            {# TODO: Add async loading strategy with embeded font and JS loading #}
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,500" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {% for js in encore_entry_js_files('app') %}
                <script src="{{ asset(js) }}" async></script>
            {% endfor %}
        {% endblock %}
    </head>
    <body>
        {% include './includes/header.html.twig' %}
        <main class="main">
            {% block main %}{% endblock %}
        </main>
        {% include './includes/footer.html.twig' %}
    </body>
</html>
{% endspaceless %}
