<!doctype html>
{% spaceless %}
<html lang="{{ locale }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}The Bedechka Case{% endblock %}</title>
        {% block stylesheets %}
            {# TODO: Add async loading strategy with embeded font and JS loading #}
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,500" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block additional_stylesheets %}{% endblock %}
    </head>
    <body>
        {% include './includes/header.html.twig' %}
        <main class="main">
            {% block main %}{% endblock %}
        </main>
        {% include './includes/footer.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
{% endspaceless %}
