{% extends 'admin/base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    {% include('admin/includes/header.html.twig') %}

    <h1>Admin Dashboard</h1>
{% endblock %}