{% extends 'admin/form-only.html.twig' %}

{% block title %}Change your password!{% endblock %}

{% block main %}
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-5 col-xl-4">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    {% include('admin/includes/alert.html.twig') %}
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}