<div class="footer__bottom">
    <ul class="footer__bottom-social-media">
        <li>
            <h6 class="footer__bottom-title">
                Follow <strong>The Bedechka Case</strong> on:
            </h6>
        </li>
        <li class="footer__bottom-social-media-item">
            <a href="https://www.facebook.com/casebedechka/"
               rel="noopener noreferer"
               target="_blank"
               class="footer__bottom-social-media-item-link">
                <i class="footer__bottom-social-media-icon">
                    <img src="{{ asset('build/icons/fb-logo@2x.png') }}" alt="">
                </i>
                <span class="footer__bottom-social-media-label anim-underline">
                    /casebedechka
                </span>
            </a>
        </li>
        <li class="footer__bottom-social-media-item">
            <a href="https://www.youtube.com/user/mandarinata"
               rel="noopener noreferer"
               target="_blank"
               class="footer__bottom-social-media-item-link">
                <i class="footer__bottom-social-media-icon">
                    <img src="{{ asset('build/icons/yt-logo@2x.png') }}" alt="">
                </i>
                <span class="footer__bottom-social-media-label anim-underline">
                    /the bedechka case
                </span>
            </a>
        </li>
        <li class="footer__bottom-social-media-item">
            <a href="https://www.instagram.com/casebedechka/"
               rel="noopener noreferer"
               target="_blank"
               class="footer__bottom-social-media-item-link">
                <i class="footer__bottom-social-media-icon">
                    <img src="{{ asset('build/icons/instagram-logo@2x.png') }}" alt="">
                </i>
                <span class="footer__bottom-social-media-label anim-underline">
                    /casebedechka
                </span>
            </a>
        </li>
    </ul>

    <ul class="footer__bottom-menu">
        <li class="footer__bottom-menu-item">
            <a href="#" class="footer__bottom-menu-label anim-underline">Imprint</a>
        </li>
        <li class="footer__bottom-menu-item">
            <button type="button" class="footer__bottom-menu-label anim-underline">Cookie Settings</button>
        </li>
        <li class="footer__bottom-menu-item">
            <a href="#" class="footer__bottom-menu-label anim-underline">Contact</a>
        </li>
        <li class="footer__bottom-menu-item">
            <a href="#" class="footer__bottom-menu-label anim-underline">Privacy Policy</a>
        </li>
    </ul>
</div>