<section class="join-us">
    {% include('/components/section-header/section-header.html.twig') with {
        'text': 'newsletter.title',
        'priority': 3,
        'classes': 'section-header--footer'
    } only %}

    <p class="join-us__text">
        {{ 'facebook.intro'|trans }}
    </p>

    <a href="https://www.facebook.com/casebedechka/"
       target="_blank"
       rel="noopener noreferer"
       class="button button--fb js-lazy-loading">
        {{ 'facebook.cta'|trans }}
    </a>

    {% include('/components/sub-header/sub-header.html.twig') with {
        'text': 'signup.newsletter',
        'priority': 4,
        'classes': 'sub-header--footer'
    } only %}
    <p class="join-us__text">
        {{ 'newsletter.info'|trans }}
    </p>
    {{ include('/includes/newsletter-form.html.twig') }}
</section>