<section class="join-us">
    <h4 class="section-header">
        Be part of the community!
    </h4>

    <p class="join-us__text">
        Follow the project's Facebook Page and get all the latest updates!
    </p>

    <a href="https://www.facebook.com/casebedechka/"
       target="_blank"
       rel="noopener noreferer"
       class="button button--fb">
        Like us on Facebook
    </a>

    <h5 class="sub-header">
        Sign up for updates!
    </h5>
    <p class="join-us__text">
        Get email from screening, and events related to our initiative. No, spam we promise!
    </p>
    {{ include('./includes/newsletter-form.html.twig') }}
</section>