<section class="join-us">
    {% include('./components/section-header.html.twig') with {'text': 'Be part of the community!', 'priority': 3} only %}

    <p class="join-us__text">
        Follow the project's Facebook Page and get all the latest updates!
    </p>

    <a href="https://www.facebook.com/casebedechka/"
       target="_blank"
       rel="noopener noreferer"
       class="button button--fb">
        Like us on Facebook
    </a>

    {% include('./components/sub-header.html.twig') with {'text': 'Sign up for updates!', 'priority': 4} only %}
    <p class="join-us__text">
        Get email from screening, and events related to our initiative. No, spam we promise!
    </p>
    {{ include('./includes/newsletter-form.html.twig') }}
</section>