@use "../config/spacings" as sp;
@use "../config/breakpoints" as bp;

html {
  --gutter: #{sp.$gutter};
  --red: red;

  @media screen and (min-width: bp.$desktop) {
    --gutter: #{sp.$gutter-desktop};
  }
}
