<li class="box-grid__item">
    <article class="box">
        {% include('components/person/person.html.twig') with {
            'flippedAvatar': flippedAvatar,
            'isLazy': isLazy,
            'avatar': avatar,
            'name': name,
            'title': title,
            'urlLabel': urlLabel,
            'url': url
        } only %}
    </article>
</li>