{% extends 'base.html.twig' %}

{% set heroTitle = {'mainTitle': 'Organizations who...', 'subTitle': 'Support our cause'} %}
{% set heroContent = include('./includes/hero/hero-title-and-subtitle.html.twig', heroTitle) %}

{% block title %} Partners {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include('./includes/hero-style.html.twig') with {'background': 'partners'} only %}
{% endblock %}

{% block main %}
    {% include('./includes/hero.html.twig') with {'content': heroContent} only %}

    <article class="box box--pull-up box--center partners">
        <ul class="partners__list">
            <li class="partners__list-item">
                {% include('./components/sub-header.html.twig') with {'text': 'Stara Zagora', 'priority': 2} only %}
            </li>
            <li class="partners__list-item">
                <a href="#" class="anim-underline">Architeks House</a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="anim-underline">Architeks House</a>
            </li>
        </ul>
        <ul class="partners__list">
            <li class="partners__list-item">
                {% include('./components/sub-header.html.twig') with {'text': 'Bulgaria', 'priority': 2} only %}
            </li>
            <li class="partners__list-item">
                <a href="#" class="anim-underline">Architeks House</a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="anim-underline">Architeks House</a>
            </li>
        </ul>
        <ul class="partners__list">
            <li class="partners__list-item">
                {% include('./components/sub-header.html.twig') with {'text': 'International', 'priority': 2} only %}
            </li>
            <li class="partners__list-item">
                <a href="#" class="anim-underline">Architeks House</a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="anim-underline">Architeks House</a>
            </li>
        </ul>
    </article>

{% endblock %}