{% extends 'base.html.twig' %}

{% set heroTitle = {'mainTitle': 'Organizations who...', 'subTitle': 'Support our cause'} %}
{% set heroContent = include('./includes/hero/hero-title-and-subtitle.html.twig', heroTitle) %}

{% block title %} Partners {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include('./includes/hero-style.html.twig') with {'background': 'partners'} only %}
{% endblock %}

{% block main %}
    {% include('./includes/hero.html.twig') with {'content': heroContent} only %}

    <article class="box box--pull-up box--center partners">
        <ul class="partners__list">
            <li class="partners__list-item">
                <h2 class="box__header">
                    Stara Zagora
                </h2>
            </li>
            <li class="partners__list-item">
                <a href="#">Architeks House</a>
            </li>
            <li class="partners__list-item">
                <a href="#">Architeks House</a>
            </li>
        </ul>
        <ul class="partners__list">
            <li class="partners__list-item">
                <h2 class="box__header">
                    Bulgaria
                </h2>
            </li>
            <li class="partners__list-item">
                <a href="#">Architeks House</a>
            </li>
            <li class="partners__list-item">
                <a href="#">Architeks House</a>
            </li>
        </ul>
        <ul class="partners__list">
            <li class="partners__list-item">
                <h2 class="box__header">
                    International
                </h2>
            </li>
            <li class="partners__list-item">
                <a href="#">Architeks House</a>
            </li>
            <li class="partners__list-item">
                <a href="#">Architeks House</a>
            </li>
        </ul>
    </article>

{% endblock %}