{% extends 'base.html.twig' %}

{% set heroTitle = {'mainTitle': 'partners.title', 'subTitle': 'partners.subtitle'} %}
{% set heroContent = include('./includes/hero/title-and-subtitle.html.twig', heroTitle) %}

{% block title %}{{ 'navigation.partners'|trans }} - {{ 'site.name'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include('./includes/hero/background-style.html.twig') with {'background': 'partners'} only %}
{% endblock %}

{% block main %}
    {% include('./includes/hero.html.twig') with {'content': heroContent} only %}
    <article class="box box--center partners pull-over-hero">
        {% for category in partners.categories %}
        <ul class="partners__list">
            <li class="partners__list-item">
                {% include('./components/sub-header.html.twig') with {'text': category.name, 'priority': 2} only %}
            </li>
            {% for organization in category.organizations %}
                {% include('./partners/partials/partner-item.html.twig') with {'organization': organization} only %}
            {% endfor %}
        </ul>
        {% endfor %}
    </article>

{% endblock %}