{% extends 'base.html.twig' %}

{% set heroTitle = {'mainTitle': 'partners.title', 'subTitle': 'partners.subtitle'} %}
{% set heroContent = include('/includes/hero/title-and-subtitle.html.twig', heroTitle) %}

{% block title %}{{ 'navigation.partners'|trans }} - {{ 'site.name'|trans }}{% endblock %}

{% block description %}
    {% include('/meta/meta-description.html.twig') with {
        'description': 'partners'|trans({}, 'meta-descriptions')|raw|trim
    } only %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% for css in encore_entry_css_files('critical-path-subpages') %}
        <style>
            {{ get_asset_content(css)|raw }}
        </style>
    {% endfor %}

    {% include('/includes/hero/background-style.html.twig') with {'background': 'partners'} only %}

    {% for css in encore_entry_css_files('partners') %}
        {% include('meta/async-css.html.twig') with {
            style_path: asset(css)
        } %}
    {% endfor %}
{% endblock %}

{% block main %}
    {% include('/includes/hero.html.twig') with {'content': heroContent} only %}
    <article class="box box--center partners pull-over-hero">
        {% for category in partners.categories %}
        <ul class="partners__list">
            <li class="partners__list-item">
                {% include('/components/sub-header/sub-header.html.twig') with {
                    'text': category.name|trans,
                    'priority': 2
                } only %}
            </li>
            {% for organization in category.organizations %}
                {% include('/partners/partials/partner-item.html.twig') with {'organization': organization} only %}
            {% endfor %}
        </ul>
        {% endfor %}
    </article>

{% endblock %}