@use "templates/scss/config/breakpoints" as bp;

.partners {
  text-align: center;

  @media screen and (min-width: bp.$tablet) {
    display: table;

    > * {
      display: table-cell;
      width: 33.3333%;
      padding-left: var(--gutter);
      padding-right: var(--gutter);
    }

  }

  @supports (grid-template-areas: unset) {

    @media screen and (min-width: bp.$tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: var(--gutter);

      > * {
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }

    }

  }

  &__list {
    padding-bottom: 3vh;

    &:last-of-type {
      padding-bottom: 0;
    }

    @media screen and (min-width: bp.$tablet) {
      padding-bottom: 0;
    }

  }

  &__list-item {
    margin-bottom: 1.8vh;

    &:first-of-type {
      margin-bottom: 2.2vh;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

  }

}