{% extends 'admin/base.html.twig' %}

{% block title %}
    Edit {{ entityDisplayName|capitalize }}
{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 pt-3">
            <h1>{{ entityDisplayName|capitalize }}</h1>
        </div>
        {# TODO: Add 'Create new' form plus a list of existing item with the capability to edit/delete them #}
    </div>
{% endblock %}